.container.phone-view a img {
    width: 100%;
    padding: 7.5px 0;
}
.container.phone-view a {
    width: 100%;
    display: block;
    position: relative;
}
.container.phone-view .data h1 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}
.container.phone-view .data {
    height: auto;
    overflow: auto;
    padding: 7.5px 15px;
    /*background: #c19369;*/
    background: gold;
}
.container.phone-view {
    width: 370px;
    height: auto;
    background-image: url(../images/abc.jpg);
    background-size: contain;
    padding: 20px 15px;
    background-position: center;
    margin: 50px auto;
}
.top_image {
    margin: -20px -15px 0;
}
.top_image img {
    width: 100%;
}

/* Track */
.container.phone-view .data::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 .container.phone-view .data::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
.container.phone-view .data::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.container.phone-view .data::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media (max-width:767px) and (orientation:portrait){
   .container.phone-view {
    margin: 0 auto;
    width: 100%;
   } 
}