.container.phone-view a img {
    width: 100%;
}
.container.phone-view a {
    width: 100%;
    display: block;
}
.container.phone-view .data h1 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container.phone-view .data {
    height: 100%;
    overflow: auto;
    padding: 0px 15px 5px;
}
.container.phone-view {
    width: 400px;
    height: 680px;
    background-image: url(../images/iphone.png);
    background-size: cover;
    padding: 100px 60px 95px;
    background-position: -8px 0;
    margin: 0px 96px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}